
<h2><strong><%= @restaurant.name %></strong></h2>
<p><%= @restaurant.address1 %>
   <% if @restaurant.address2 %>
      <%= @restaurant.address2 %>
   <% end %><br>
   <%= @restaurant.city %>,
   <%= @restaurant.state %>
   <%= @restaurant.zip %>
</p>

<div>
  <u style='font-size: 1.5em'><%= @restaurant.up_votes %></u> vote(s) that this restaurant WILL split the check.
</div>
<div>
  <u style='font-size: 1.5em'><%= @restaurant.down_votes %></u> vote(s) that this restaurant WILL NOT split the check.
</div>

<div>Have you asked to split the check at this restaurant? VOTE!</div>
<p>
   <%= button_to "Will Split", controller: 'restaurants', 
	action: 'increase_up_votes', id: @restaurant.id %>
  <%= button_to "Won't Split", controller: 'restaurants', 
	action: 'increase_down_votes', id: @restaurant.id %>
</p>

<br>
<%= link_to 'Back', restaurants_path %>
